* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Iosevka Nerd Font';
    font-size: 12px;
}

window#waybar {
    background-color: #190c0e;
    transition-property: background-color;
    transition-duration: .5s;
    color: #eeedf0;
    border-radius: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
    color: #eeedf0;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: #8f98a5;
}

#workspaces button {
    padding: calc(5px - 4px) 5px;
    background-color: transparent;
    color: #eeedf0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-top: none;
    color: #eeedf0;
}

#workspaces button.active {
    border-top: 5px solid #8abd68;
    color: #eeedf0;
}

#workspaces button.active:first-child {
    border-top: 5px solid #8abd68;
    border-radius: 5px 0 0 0;
    color: #eeedf0;
}

#workspaces button.urgent {
    border-top: 5px solid #e02f1b;
    color: #eeedf0;
}

#workspaces button.urgent:first-child {
    border-top: 5px solid #e02f1b;
    border-radius: 5px 0 0 0;
    color: #eeedf0;
}

#clock,
#battery,
#network,

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: inherit;
    color: #eeedf0;
}

#battery {
    background-color: inherit;
    color: #eeedf0;
}

#battery.charging, #battery.plugged, #battery.full {
    border-top: 5px solid #8abd68;
    color: #eeedf0;
}

#battery.discharging {
    border-top: 5px solid #deab5f;
    color: #eeedf0;
}

@keyframes blink {
    to {
        background-color: #eeedf0;
        color: #190c0e;
    }
}

#battery.critical:not(.charging) {
    border-top: 5px solid #e02f1b;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #190c0e;
}

#network {
    border-top: 5px solid #8abd68;
    color: #eeedf0;
}

#network.disconnected {
    border-top: 5px solid #e02f1b;
    color: #eeedf0;
}
